/*body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
*/
.form-control:hover,
.btn:hover {
  box-shadow: none !important;
}
.form-control:focus,
.btn:focus {
  box-shadow: none !important;
}
.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Ajusta el ancho deseado */
  display: inline-block;
  vertical-align: top;
}
